<h1><%= @store.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>View Shoe Brands carried:</h3>
      <ul>
        <% @store.brands.each do |brand| %>
          <h5><a href="/brand/<%= brand.id %>"><%= brand.name %></a></h5>
        <% end %>
      </ul>
      <br>
      <br>
      <!-- delete function -->
      <form action="/store" method="post">
        <input name="_method" type="hidden" value="delete">
        <input name="store_id" type="hidden" value="<%= @store.id %>">
        <button type="submit" class="btn btn-danger">Delete Store</button>
      </form>
    </div>
    <div class="col-md-6">
      <!-- form to update store -->
      <form action="/store/<%= @store.id() %>/update" method="post">
        <label for="store-name">Update Store Name</label>
        <input name="_method" type="hidden" value="patch">

        <input class="form-control" name="store-name" type="text" placeholder="new name">
        <br>
        <button class="btn btn-success" type="submit">Update <%= @store.name %> </button>
        <br>
      </form>
      <br>
      <!-- form to add existing brands to Store -->
      <form action="/store/<%= @store.id %>/assign-brand" method="post">
        <label for="brand_id">Select a Brand</label>
        <br>
        <input name="_method" type="hidden" value="post #{<%= @store.id %>}">
        <select id='brand_id' name='brand_id' type='text'>
          <% @brands.each() do |brand| %>
            <option value="<%= brand.id()%>"> <%= brand.name() %> </option>
          <% end %>
        </select>
        <br>
        <br>
        <button class="btn btn-success" type="submit">Add brand to <%= @store.name %> </button>
      </form>
      <br>
      <!-- form to add brands -->
      <form class="form-group" action="/store/add-brand" method="post">
        <input name="store_id" type="hidden" value="<%= @store.id %>">
        <label for="brand-name">Create and Add a Brand to <%= @store.name %></label>
        <input class="form-control" type="text" name="brand-name">
        <br>
        <label for="brand-price">Price</label>
        <input class="form-control" type="text" name="brand-price">
        <br>
        <button type="submit" class="btn btn-success">Add New brand to <%= @store.name %> </button>
      </form>
    </div>
  </div>
</div>
